@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  overflow-x: hidden;
}

.pagination {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 10px;
  }



  .page-prev,
  .page-next {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;

    }


  .page-link {
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .page-link.active {
    background-color: #222;
    color: #fff;
    border: 1px solid #222;
  }
